h1 {
  color: #111111;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  background-color: white;
  min-height: 1em;
  font-size: 10em; 
  font-weight: bold;
  letter-spacing: -1px; 
  line-height: 1em; 
  text-align: center;
  border-radius: 1px;
  z-index: 100;
  position: absolute;
  -webkit-box-shadow: 0 10px 10px black;
  -moz-box-shadow: 0 10px 10px black;
  box-shadow: 0 10px 10px black;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.loading {
  font-family: 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 5em;
  text-align: center;
  position: relative;
  margin-top: 2em;
}

.loadBar {
  margin-top: 5em;
  width: 15em;
}

.question {
  color: transparent;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #00506A;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.2);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.container {
  padding: 0;
  margin-top: 5em;
  margin-bottom: 5em;
}

.events {
  padding-left: 1.6em;
  height: auto;
  width: auto;
  display: block;
}

#event {
  min-height: 20em;
  max-width: 20em;
  color: black;
  background-color: #ffffff;
  margin: 4;
  padding: 1;
  -webkit-box-shadow: -10px 8px 15px -4px rgba(0, 0, 0, 0.38);
  -moz-box-shadow:    -10px 8px 15px -4px rgba(0, 0, 0, 0.38);
  box-shadow:         -10px 8px 15px -4px rgba(0, 0, 0, 0.38);
  -webkit-transition:  All 1s ease-in-out;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);  
  position: relative;
  overflow: hidden;
}

img {
  max-width: 225px;
  max-height: 175px;
  float: bottom;
}

#event:hover {
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

p {
  padding-top: 1em;
  word-wrap: break-word;
}

h3 {
  font-size: 1.3em;
}

a {
  word-wrap: break-word;
}

body {
  text-align: center;
  color: white;
  background-color: #00506A;
}

#header {
  padding-left: 30%;  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: -1;
}

.form {
  background-color: blue;
}

.event-form {
  margin: auto;
  margin-top: 15em;
  width: 20%;
}

::-moz-focus-inner { padding: 0; border: 0 }
:-moz-placeholder { color: #bcc0c8 !important; }
::-webkit-input-placeholder { color: #bcc0c8; }
:-ms-input-placeholder { color: #bcc0c8 !important; }

input, textarea, select, label {
  font-family: inherit;
  font-size: 12px;
  @include box-sizing(border-box);
}

.login {
  float: right;
  margin: 50px auto;
  margin-top: 10px;
  padding: 0px 18px 20px;
  width: 300px;
  background: #3f65b7;
  background-clip: padding-box;
  border: 1px solid #172b4e;
  border-radius: 5px;
  border-bottom-color: #142647;
  @include radial-gradient(cover, #437dd6, #3960a6);
  @include box-shadow(inset 0 1px rgba(white, .3), inset 0 0 1px 1px rgba(white, .1), 0 2px 10px rgba(black, .5));

  > h3 {
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 -1px rgba(black, .4);
  }
}

.login-submit {
  display: block;
  width: 100%;
  height: $inputHeight;
  font-size: 14px;
  font-weight: bold;
  color: #294779;
  text-align: center;
  text-shadow: 0 1px rgba(white, .3);
  background: #adcbfa;
  background-clip: padding-box;
  border: 1px solid #284473;
  border-bottom-color: #223b66;
  border-radius: 4px;
  cursor: pointer;
  @include linear-gradient(top, #d0e1fe, #96b8ed);
  @include box-shadow(inset 0 1px rgba(white, .5), inset 0 0 7px rgba(white, .4), 0 1px 1px rgba(black, .15));

  &:active {
    background: #a4c2f3;
    @include box-shadow(inset 0 1px 5px rgba(black, .4), 0 1px rgba(white, .1));
  }
}